* {
  box-sizing: border-box;
}

body {
  font: 12px "Montserrat", sans-serif, serif;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --price-color: #2cc179;
  --txt-color: #878b97;
  --bg-color: #d3d3d5;
}

/* Header and footer  */
#header,
#footer {
  background-color: var(--bg-color);
}

.menu_nav{
  background-color: var(--pink);
  padding-right: 0;
}

#menu_list li a{
  background-color: yellow;
  padding-right: 0;
}


#menu_list li a:hover {
  color: var(--orange) !important;
}

/* Main section  */
.main_row{
    margin-top: 50px ;
}



.info_div  span{
    font-size: 20px;
    font-weight: normal;
}

.info_div p{
    color: var(--txt-color);
}

.monthly{font-weight: bold;
    margin-bottom: 5px;   
}

.price{
    font-weight: bold;
    color: var(--price-color);
}

 /* Carousel  */
.big_carousel{
padding:15px;
}

.carousel-item img {
    border-radius: 10px;
}

/* Map and videos  */
.map_video_selects {
  position: relative;
}
.map_video_selects select {
  appearance: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  line-height: 20px;
  margin: 20px 0;
  padding: 5px 13px 5px 0;
  outline: none;
}
.map_video_selects::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 50%;
  left:60px ;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 13px;
}

.shadowed_row{
  margin-bottom: 50px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  
}


.info-title{
  font-weight: bold;
  margin-bottom: 15px;
}

/* .some1{
  padding : 0 auto;
} */


/* .some1{
  margin: 0 10px;
}
@media screen and (max-width: 992px) {
  .some1 {
    display: none !important;
  }
} */







/* Page footer  */

.footer_left {
  padding: 0;
}

#footer ul {
  list-style: none;
  line-height: 25px;
  padding-inline-start: 0;
}
#footer li:not(.footer_first_list li):hover {
  color: var(--orange);
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .footer_list {
    display: none !important;
  }
}
span {
  font-weight: bold;
}

.footer_social ul {
  margin: 10px 0;
}

.footer_social i {
  font: 12px/1 FontAwesome;
  color: var(--white);
  background-color: var(--gray);
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
}

.footer_social i:hover {
  color: var(--orange);
}

.footer_social i:not(#fb) {
  margin-left: 12px;
}

#fb,
#insta {
  padding: 8px 10px;
}
#in,
#pi {
  padding: 8px 9px;
}

.allRights p {
  font-size: 11px;
  color: var(--txt-color);
}
